<h1>Portfolio</h1>
<p><%= link_to 'New', new_portfolio_url %></p>

<% @portfolio_items.each do |port| %>
	<p><b><%= link_to port.title, portfolio_show_path(port) %></b></p>
	<p><%= port.subtitle %></p>
	<p><%= port.body %></p>
	<%= image_tag port.thumb_image unless port.thumb_image.nil? %>
	<%= link_to 'Edit', edit_portfolio_url(port.id) %>
	<%= link_to 'Delete', portfolio_url(port.id), method: :delete, data: { cconfirm: "Are you sure"} %>
<% end %>